.list-contact,
.list-tick {
    list-style: none
}

.all-cats .col a,
.pricing-page .card {
    transition: .3s ease all 0s
}

.products-area .card .rate.last {
    border-left: none
}

.products-area .card .rate h5 i {
    margin: 0 7px 0 0
}

.products-area .card .card-content {
    font-weight: 500;
    padding: 5px 20px
}

.mat-header-row {
    background: #000;
    color: #fefefe
}

.mat-header-cell {
    color: #fefefe!important
}

.all-cats {
    padding: 0 0 30px;
    background: #fff;
    border-radius: 5px;
    overflow: hidden
}

.all-cats .head {
    background: #000;
    color: #fefefe;
    margin: 0 0 25px;
    padding: 15px
}

.all-cats .head h3 {
    margin: 13px 0 0!important;
    font-weight: 600
}

.all-cats .head h3 i {
    margin: 0 15px 0 0
}

.all-cats .col {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    min-height: 50px
}

.all-cats .col a {
    color: #555;
    padding: 10px 0;
    border-radius: 3px;
}

.all-cats .col a p {
    display: inline-block;
    margin-top: 3px
}

.all-cats .col a i {
    margin: 0 10px 0 0
}

.all-cats .col a:hover {
    background: #c00;
    color: #fff
}

.all-cats .row>.col:nth-child(3n) {
    clear: both
}

.pricing-page .card:hover {
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, .42), 0 4px 25px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
    background: #fff
}

.pricing-page .card:hover h3 {
    color: #3C4858
}

.pricing-page .card:hover .icon i {
    color: #e12721
}

.pricing-page .card:hover .btn {
    background: #e12721;
    color: #fff
}

.mat-paginator .mat-paginator-page-size-select {
    width: 200px!important
}

.searchUpper {
    background: rgba(255, 255, 255, .95);
    border-radius: 8px;
    margin: 0 0 20px;
    overflow: hidden;
    padding: 20px 0 0
}

.searchUpper .mat-form-field,
.searchUpper select {
    width: 100%
}

.searchUpper select {
    height: 40px
}

.searchUpper select option {
    padding: 10px
}

.search-outer {
    padding: 100px 60px 45px!important
}

.list-tick {
    padding: 30px 10px;
    margin: 60px auto 20px;
    font-size: 23px;
    line-height: 32px;
    width: 700px;
    border-radius: 5px;
    background: rgba(0, 0, 0, .67)
}

.list-tick li {
    display: block;
    position: relative;
    color: #fff
}

.list-tick li.tick {
    padding: 0 0 0 40px;
    text-align: left
}

.list-tick li i {
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 30px;
    color: #d52d33
}

@media (max-width:991px) {
    .nav-home {
        background: 0 0!important
    }
    .nav-home ul li {
        display: block!important;
        margin: 0
    }
    /* .nav-home ul li+li {
        border-top: 1px solid #333
    } */
    .navbar-toggle .icon-bar {
        background: #333!important
    }
    .navbar-nav>li>a {
        display: block
    }
    .table>thead>tr>th {
        padding: 5px 0px!important;
    }
}

.blog-holder {
    padding: 40px 0
}

.blog-holder .blog {
    background: #fff;
    padding: 20px;
    margin: 0 0 25px
}

.list-contact li,
.logo-footer {
    margin: 0 0 10px
}

.blog-holder .img-holder {
    border-radius: 6px;
    overflow: hidden
}

.blog-holder .img-holder img {
    width: 100%;
    height: auto
}

.blog-holder .desc {
    font-weight: 700
}

body {
    display: block!important;
    background-color: #fafafa;
    overflow-x: hidden
}

.footer-upper {
    padding: 25px 50px;
    background: #282828;
    box-shadow: 0 0 10px #999;
    min-height: 300px;
    width: 100%;
}

@media (max-width:900px) {
    .footer-upper {
        bottom: 85px;
        left: 0;
    }
}

.footer-upper h2 {
    font-size: 29px;
    color: #fff
}

.footer-upper .social-link {
    font-size: 20px
}

.footer-upper p,
.list-contact {
    font-size: 18px;
    font-weight: 700
}

.footer-upper p {
    color: #999
}

.logo-footer {
    width: 220px;
    display: block
}

.logo-footer img {
    width: 100%
}

.list-contact a {
    color: #777
}

.list-contact a:hover {
    color: #cd0a0e;
    text-decoration: none
}

.list-contact li i {
    width: 25px;
    text-align: center
}

.list-social {
    font-size: 25px;
    padding: 10px 0;
    color: #777;
    margin-left: 21px;
}

.list-social li {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px 0 0
}

.list-social li a {
    color: #777
}

.list-social li a:hover {
    color: #c00
}

.list-pricing {
    font-size: 22px;
    line-height: 28px;
    font-weight: 700
}

.list-pricing li {
    border-bottom: none!important
}

.list-pricing i {
    color: #00cd00;
    vertical-align: top;
    top: 0
}

.pricing-page .card:hover li {
    color: #333!important
}

.subscribe>p {
    font-size: 15px;
    line-height: 18px
}

#newsletterEmail {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-radius: 50px 0 0 50px !important;
    background: #fefefe;
    color: #333;
    border: 1px solid #999;
    border-right: none;
    padding: 11px 17px 10px;
    font-size: 18px!important;
    font-weight: 700;
    height: auto!important
}

#newsletterEmail::-webkit-input-placeholder {
    font-size: 18px;
    font-weight: 700
}

.subscribe .input-group-btn {
    /* padding: 0 */
}

.subscribe .form-group {
    /* margin: 3px 0 0 */
}

.subscribe .btn,
.subscribe .btn:hover {
    background: #cd0a0e;
}

.footer {
    background: #1d1d1d;
    color: #ccc;
    padding: 22px;
    width: 100%;
}

@media (max-width:900px) {
    .footer {
        bottom: 0;
        left: 0;
    }
}

.list-contact>li>a>i {
    color: #cd0a0e;
}

.footer .social-link {
    position: relative;
    z-index: 9;
    font-weight: 700
}

.footer .social-link a {
    color: #ccc;
    padding: 0 5px;
    display: inline-block
}

.footer .social-link a:hover {
    color: #cd0a0e
}

.footer-link-border {
    border-right: 2px solid;
    padding-right: 10px!important
}

.footer-stores-img h2 {
    color: #fff
}

.footer-stores-img img {
    width: 25%;
    margin-left: 60px
}

.single-pricing-2 .plan-name {
    color: #282828;
    display: block;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    padding: 20px 0;
}

.single-pricing-2 .plan-name small {
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 5;
    color: #959595
}

.single-pricing-2 .plan-price .currency {
    font-size: 50%;
    font-weight: 700;
    left: -.01em;
    top: -.9em
}

.single-pricing-2 .plan-price sub {
    font-size: 18px;
    font-weight: 700
}

.single-pricing-2 ul li:first-child {
    border-top: 0
}

.single-pricing-2 ul li {
    border-top: 1px dashed #dedede;
    font-weight: 500;
    padding: 12px 29px;
    font-size: 22px;
    text-align: center
}

#ToS p,
#privacy p,
.footer-text p,
.list-outside li {
    font-weight: 700
}

.featured .plan-price {
    color: #fff !important;
    background: #ab2025;
}

.pricing2-button {
    text-align: center;
    bottom: 0;
    width: 100%
}

.btn-common {
    cursor: pointer;
    color: #FFF!important;
    background: #c51414;
    position: relative;
    border: transparent;
    z-index: 1;
    width: 100%
}

.contact-fix .mat-input-infix {
    padding: 0.89em 0 .275em !important;
}

.contact-fix .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-placeholder {
    transform: translateY(-2px) scale(.75) perspective(100px) translateZ(.001px);
    -ms-transform: translateY(-15px) scale(.75);
}

.contact-fix .mat-input-subscript-wrapper {
    margin-top: -2px;
}

.contact-fix .mat-input-element {
    height: 30px;
}

.single-pricing-2 .plan-price {
    font-size: 48px;
    height: 130px;
    padding: 40px 0;
    text-align: center
}

.single-pricing-2 ul {
    background: #fff;
    margin-bottom: 0;
    padding: 0
}

.premium .plan-price {
    background: #282828;
    color: #fff!important
}

.terms-and-condition {
    -webkit-box-shadow: 0 1px 1px 1px #888;
    box-shadow: 0 1px 1px 1px #888;
    padding: 0 30px!important;
    margin-bottom: 20px;
    border-radius: 5px;
    background: #fff;
    margin: 20px auto;
}

.terms-and-condition h2 {
    font-size: 30px;
}

.terms-and-condition h3 {
    font-size: 20px !important;
    color: #333;
    margin: 5px 0;
    line-height: 24px;
}

.terms-and-condition p {
    text-align: left;
    line-height: 18px;
    font-size: 13px;
}

.term-address p {
    font-size: 16px;
    font-weight: 600;
}

.term-address-ul {
    padding: 0;
}

.term-address-ul li {
    font-size: 14px;
    color: #555;
    list-style: none;
    font-weight: 600;
}

.term-address i {
    width: 20px;
}

#ToS,
#privacy,
#what-is-rfp {
    background: #fff
}

.footer-text p {
    font-size: 14px;
    color: #ccc;
    margin: 0
}

.threecolumns {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

#what-is-rfp {
    padding: 40px 0
}

#f-c {
    /* padding: 20px 0; */
    background: #fafafa
}

.container-wide {
    max-width: 1600px;
    width: auto;
    padding: 0 80px
}

.list-outside {
    list-style: outside;
    padding: 0 0 0 30px
}

.partnership {
    background-image: url(../../assets/img/partnership.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding-bottom: 70px;
    color: #fff
}

#main-nav>ul>li:hover>a,
#main-nav>ul>li>.submenu>ul>li:hover>a {
    color: #e53935
}

.download-btns {
    position: absolute;
    z-index: 9;
    right: 20px;
    top: 20px
}

.download-btns>a {
    display: inline-block;
    vertical-align: top
}

.download-btns>a:hover {
    opacity: .85
}

.download-btns>a img {
    width: 150px;
    height: auto
}

#main-nav>ul>li>.submenu {
    opacity: 0;
    visibility: hidden;
    transition: .4s ease all 0s;
    position: absolute;
    top: 100%;
    left: 0;
    width: 260px;
    padding: 20px 0 0;
    z-index: 1
}

#main-nav>ul>li>.submenu>ul {
    width: 100%;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .4), 0 6px 20px 0 rgba(0, 0, 0, .2);
    font-size: 16px
}

#main-nav>ul>li>.submenu>ul>li,
#main-nav>ul>li>.submenu>ul>li>a {
    display: block
}

#main-nav>ul>li>.submenu>ul>li {
    margin: 0 14px 6px
}

#main-nav>ul>li>.submenu>ul>li:before {
    display: none
}

#main-nav>ul>li:hover>.submenu {
    opacity: 1;
    visibility: visible
}

.white-bg {
    background: #fff
}

.com-table table tr th,
.com-table td {
    font-size: 18px;
    font-weight: 600;
    text-align: center
}

.com-table {
    /* overflow-x: scroll; */
    /* margin-bottom: 35px; */
}

.com-table>table {
    /* min-width: 1300px */
}

.com-table table tr th {
    background-color: #000;
    color: #fff;
    padding: 25px 0!important
}

.com-table td {
    padding: 14px 20px!important;
    background: #fff;
}

.com-table tr>td:first-child {
    text-align: left
}

.com-table strong {
    font-weight: 700!important
}

.com-table .fa-check {
    color: #00cd00;
    font-size: 21px
}

.com-table .fa-times {
    color: #c00;
    font-size: 21px
}

.com-table table tr td a {
    color: #c00
}

.choose-criteria img {
    width: 20%
}

.how-rfp-help p,
.last-3-para p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px
}

.how-rfp-help {
    padding: 30px 0;
    background-color: #fff
}

.how-rfp-help p {
    padding: 20px 0
}

.last-3-para p {
    padding: 10px 0
}

.how-rfp-help span {
    font-size: 20px
}

.top-lists ul li {
    font-size: 16px;
    font-weight: 500;
    list-style: none
}

.pricing-table2 {
    margin: 5px 2px;
}

.pricing2-section {
    background-image: -webkit-gradient(linear, left bottom, right top, from(#fff), color-stop(#fbfafb), color-stop(#f6f6f6), color-stop(#f2f1f2), to(#eeeded));
    background-image: linear-gradient(to right top, #fff, #fbfafb, #f6f6f6, #f2f1f2, #eeeded)
}

.section-subcontent {
    color: #000
}

.home-list-pricing {
    list-style: none
}

.home-list-pricing li {
    color: #000;
    text-align: left
}

.custom-package ul li {
    border: none
}

.ui-switch {
    display: inline-block;
    text-align: center
}

.ui-switch input {
    opacity: 0;
    display: none
}

.ui-switch label {
    width: 60px;
    height: 30px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    background: #6b6b6b;
    border-radius: 30px;
    transition: background-color .4s;
    -moz-transition: background-color .4s;
    -webkit-transition: background-color .4s
}

.ui-switch label:after {
    left: 0;
    width: 20px;
    height: 20px;
    margin: 5px;
    content: "";
    position: absolute;
    background: #fff;
    border-radius: 10px
}

.ui-switch input:checked+label {
    background: #ff5958
}

.ui-switch input:checked+label:after {
    left: auto;
    right: 0
}

.ui-switch p {
    font: 700 30px/40px Arial;
    color: #6b6b6b;
    display: none;
    text-transform: uppercase;
    letter-spacing: 1px
}

.ui-switch input:checked~p:first-of-type {
    color: #ff5958;
    display: block
}

.ui-switch input:not(:checked)~p:nth-of-type(2) {
    display: block
}

.recipt-section {
    background: 0 0;
    margin-top: 5%;
    border: 2px solid #3498dd;
    border-radius: 5px 5px 0 0;
    margin-bottom: 5%
}

.recipt-section h1 {
    text-align: center;
    background: #3498dc;
    color: #fff;
    margin: 0;
    padding: 20px 0
}

.receipt {
    margin: 5%;
    padding: 5%;
    border: 5px solid #ff5958;
    border-radius: 55px
}

* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.receipt-items table {
    background: #fff;
    border-radius: 5px
}

.receipt-items table tr td:first-child {
    color: #000
}

.receipt-items table tr {
    font-size: 25px;
    font-weight: 700
}

.single-pricing-2 {
    border: 1px solid #dedede;
    background-color: #fff;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    min-height: 570px;
    position: relative;
}

.btn-rose {
    padding: 6px 18px;
    box-shadow: 0 14px 26px -12px rgba(0, 0, 0, .42), 0 4px 23px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2) !important;
}

.btn-rose:hover {
    background: #c00!important;
    box-shadow: none!important;
}

.form-group {
    padding-bottom: 0;
    margin: 0;
}

.form-control-phone .input-group {
    margin-top: 8px !important;
}

.form-control-phone .form-control {
    font-weight: 600 !important;
    color: #000;
    font-size: 22px;
    height: 32px!important;
}

.custome-price {
    background: #282828!important
}

.card-header>h2 {
    margin: 0!important
}

.what-is-geniecapture-img img {
    width: 100%
}

.advance-serach-container {
    margin: 68px 0
}

.sub {
    background-color: #000!important;
    border-radius: 34px
}

.history-header h2 {
    font-size: 24px;
    padding: 0 20px;
    background: #000;
    color: #fff
}

.history-table th {
    font-size: 14px !important;
    text-align: center;
    font-weight: 600!important
}

.history-table tbody tr {
    background: #fff;
    border-radius: 10px;
    border-bottom: 1px solid #ddd
}

.history-table tbody tr td {
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.history-table .no-pkg {
    color: #f80000
}

.item.slick-slide {
    min-height: 100px;
    padding: 10px;
    border-radius: 4px;
    background: 0 0;
    margin-right: 10px
}

.CategorySliderTop,
.CategorySliderTop:hover {
    background: 0 0!important
}

.item.slick-slide:hover a {
    color: #c00;
    font-weight: 900
}

.item.slick-slide a {
    position: relative;
    top: 0;
    font-weight: bolder;
    color: #c00
}

.leftRsBanner,
.owl-carousel.owl-option-02 .owl-next,
.owl-carousel.owl-option-02 .owl-prev,
.rightRsBanner {
    position: absolute;
    top: 50%;
    margin-top: -22px;
    width: 40px;
    height: 40px;
    background: 0 0!important;
    cursor: pointer
}

.item.slick-slide a:hover {
    color: #c00
}

.CategorySliderTop {
    border: 1px solid #222;
    min-height: 130px;
    padding: 10px;
    border-radius: 4px;
    margin-right: 10px
}

.owl-carousel.owl-option-02 .owl-next,
.rightRsBanner {
    display: block;
    right: 0;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    font-size: 0;
    -webkit-transition: .5s all;
    transition: .5s all;
    border: 1px solid #222
}

.owl-carousel.owl-option-02 .owl-next::before,
.rightRsBanner:before {
    font-family: FontAwesome;
    content: '\f105';
    font-size: 20px;
    line-height: 36px;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    -webkit-transition: .5s all;
    transition: .5s all
}

.leftRsBanner,
.owl-carousel.owl-option-02 .owl-prev {
    display: block;
    left: 0;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    font-size: 0;
    -webkit-transition: .5s all;
    transition: .5s all;
    border: 1px solid #222
}

.leftRsBanner::before,
.owl-carousel.owl-option-02 .owl-prev::before {
    font-family: FontAwesome;
    content: '\f104';
    font-size: 20px;
    line-height: 36px;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    -webkit-transition: .5s all;
    transition: .5s all
}

.CategorySlider {
    max-width: 100%;
    margin-bottom: 10px;
    padding: 0 80px;
    text-align: center
}

.CategorySlider .item,
.CategorySlider .item .image {
    padding: 0 5px;
    position: relative
}

.CategorySlider .item .image {
    z-index: 1;
    border-radius: 10px
}

.CategorySlider .item .image .img {
    width: 125px;
    height: auto;
    margin: 0 auto
}

.bottom-lists ul li {
    list-style: none;
    margin: 0;
    padding: 5px 10px
}

.bottom-lists ul li a {
    color: #c51414;
    text-decoration: none;
    font-size: 15px;
    line-height: 18px;
    font-weight: 500
}

.bottom-lists ul li:hover a {
    color: #f80000
}

.bodysetter {
    width: 100% !important;
}

.bottom-lists ul li:hover {
    box-shadow: 0 5px 25px 0 rgba(64, 64, 64, .3);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    transform: scale(1.01);
    cursor: pointer;
    background-color: #fff
}

.bottom-lists ul li img {
    width: 20px;
    margin-right: 5px;
    margin-bottom: 10px
}

@media (max-width:1440px) {
    .spacific-width {
        margin-right: 7px!important
    }
}

@media (max-width:991px) {
    .mrgn-tab {
        margin-bottom: 30px
    }
}

@media (max-width:768px) {
    .inner {
        width: 100%!important
    }
}

@media (min-width:1025px) {
    .navbar-nav>li>a {
        font-size: 16px!important
    }
}

@media (min-width:768px) {
    .navbar-nav>li>a {
        font-size: 15px!important
    }
}

@media (max-width:1024px) {
    .login-form-1-center {
        height: 478px !important;
    }
    .nav-home ul {
        font-size: 16px;
    }
    .form-home {
        left: 55px
    }
    .spacific-width {
        margin-right: 10px!important
    }
    .navbar-nav>li>a {
        font-size: 13px!important;
        padding: 25px 3px
    }
    .navbar-collapse.collapse {
        /* padding: 0 */
    }
    .nav-home ul li {
        margin: 0
    }
    .container-wide {
        padding: 0 20px;
        max-width: 1024px
    }
    .com-table>table {
        /* 
        min-width: 800px */
    }
    .carouselTwo .buttons.rightRs {
        right: -12px
    }
    .carouselTwo .buttons.leftRs {
        left: -12px
    }
    .packages-holder .dropdown-toggle {
        width: 100%
    }
    .footer-upper {
        min-height: 76vh;
        width: 100%
    }
    .dashboard-footer {
        float: right;
        width: 102% !important;
    }
    /* .card {
        width: 85% !important;
    } */
    .space {
        margin-top: 20%;
    }
    .imge {
        margin-left: 15px !important;
    }
    .fixer {
        margin-top: 0px !important;
    }
    .sidebar {
        width: 230px;
    }
}

@media (min-width: 1601px) {
    .login-form-1-center {
        height: 54.1vh !important;
    }
    .appio-pricing-single-wrap {
        padding: 54px 40px 78px !important;
    }
    #f-c {
        /* padding: 121px !important;
        margin-top: -117px !important; */
    }
    .container-wide {
        max-width: 1600px;
        width: auto;
        padding: 0 80px;
    }
    .main-content {
        padding: 10px 0 0;
        overflow: hidden;
        height: 74vh !important;
    }
    .fixer {
        margin-top: 0px !important;
    }
    .footer-upper {
        min-height: 480px !important;
    }
    .spacer {
        margin-top: 80px !important;
    }
}

button {
    text-transform: none !important;
}

mat-icon {
    cursor: pointer;
}

.paymnet-form-adjust {
    max-width: 100% !important;
}

.leftRs>i,
.rightRs>i {
    line-height: 2;
    font-size: 40px;
    font-weight: 700
}
body{
  font-family:Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  display: block;
}