/* 


.heading {
    margin-top: 84px;
}

span {
    font-size: 55px;
    font-weight: 600;
}

i {
    font-size: 39px;
    margin-right: 17px;
    margin-top: 7px;
    color: #29842d;
}

P {
    text-align: center;
    margin-left: 57px;
    margin-top: 18px;
    font-size: 19px;
}

.subheading {
    width: 60%;
    margin-left: 202px;
    margin-top: 35px;
}
a{
    color: #0c6fc0 !important
} */

.layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#green {
    color: green;
}

#red {
    color: #c00;
}

.form {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.custom-class {
    font-size: 43px;
    margin-top: 20px;
    margin-left: 10px;
}

::ng-deep .mat-checkbox .mat-checkbox-frame {
    border-color: #000;
}

 ::ng-deep .mat-checkbox-checked .mat-checkbox-background {
    background-color: #000 !important;
}

label {
    font-weight: 600;
    color: #000;
}

h3 {
    text-align: center;
}

h5 {
    font-weight: 550 !important;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 10px;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.example-radio-button {
    margin: 5px;
}

.btn-submit[disabled] {
    background-color: #585858;
    color: #fff !important;
    cursor: not-allowed;
}

.btn-submit[disabled]:hover {
    background-color: rgba(204, 0, 0, 0.466);
    color: #fff !important;
    cursor: not-allowed;
}

.btn-submit {
    background-color: #000;
    border-radius: 30px;
    color: #FFF;
    font-size: 20px;
    font-weight: bold !important;
    width: 100%;
    align-self: center;
}

.btn-submit:hover {
    background-color: #c00;
    color: #FFF
}