<!-- <app-header class="inner" ></app-header> -->
<!-- <app-loader></app-loader> -->

<div class="main-panel" [ngClass]="status ? 'sidebarActive' : ''">
    <!-- <div class="navbar-minimize sidebarToggle" (click)="navbarClass()">
                <button class="btn btn-round btn-white btn-fill btn-just-icon" id="minimizeSidebar">
                <i class="material-icons visible-on-sidebar-regular">more_vert</i>
                <i class="material-icons visible-on-sidebar-mini">view_list</i>
                <div class="ripple-container"></div></button>
                <strong>Sidebar</strong>
            </div>
    <div class="sidebar custom">
      
        <app-user-sidebar></app-user-sidebar>
    </div> -->
    <div class="main-content custom">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title">
                        <!-- <span>RFP's </span> -->
                    </div>
                    <div class="products-area">
                        <div *ngFor="let rfp of record" class="card">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card-header card-header-text" data-background-color="red">
                                        <h4 class="card-title">{{rfp.rfpkey}}</h4>
                                    </div>
                                </div>
                                <div class="card-content">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 plan-detail">
                                        <h3>{{rfp.title}}</h3>
                                        <h5><i class="fa fa-university"></i>Category : <span>{{rfp?.category}}</span>
                                        </h5>
                                        <h5><i class="fa fa-fort-awesome"></i>State : <span>{{rfp?.state}}</span></h5>
                                        <h5>Agency : <span>{{rfp?.agency}}</span></h5>

                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 term top-margin-25">
                                        <!--<h4>Detail:</h4>-->
                                        <div class="table">
                                            <table class="table-normal">
                                                <thead>
                                                    <tr>
                                                        <td><i class="glyphicon glyphicon-calendar"></i> Posted Date</td>
                                                        <td><i class="glyphicon glyphicon-calendar"></i> Submission
                                                            Deadline</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>{{rfp.new_date_entered}}</td>
                                                        <td>{{rfp.new_due_date}}</td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-md-6">
                                            <ul class="list-normal">
                                                <li *ngIf="!subscribe; else pdf">
                                                    <a routerLink="/pricing">
                                                        <i class="fa fa-credit-card"></i>
                                                        View Pricing/Package Details
                                                    </a>
                                                </li>
                                                <ng-template #pdf>

                                                    <li *ngIf="rfp.rfp_reference == 'Download File' ; else link ">
                                                        <a href="{{rfp.web_info}}" target="_blank">
                                                            <i class="material-icons">insert_drive_file</i>
                                                            View Documents
                                                        </a>
                                                    </li>
                                                    <ng-template #link>
                                                        <li>
                                                            <a href="{{rfp.web_info}}" target="_blank">
                                                                <i class="material-icons">insert_drive_file</i>
                                                                View Documents
                                                            </a>
                                                        </li>
                                                    </ng-template>
                                                </ng-template>

                                            </ul>
                                        </div>
                                        <div *ngIf="!subscribe " class="col-md-6">
                                            <button routerLink="/pricing" class="btn btn-rose sub" title="Subscribe Package">Subscribe
                                                Now <i class="material-icons">bubble_chart</i></button>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <h5>Description:</h5>
                                        <!-- <div [innerHTML]="rfp.deescription | newline"></div> -->
                                        <p style="white-space: pre-line">{{rfp.deescription}}</p>
                                    </div>
                                </div>
                                <button title="Search Results" type="submit" class="btn btn-primary btn-rose btn-lg"
                                    (click)="watchlist()">Add to Watchlist</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <app-footer-cmp class="inner"></app-footer-cmp> -->