You can add global styles to this file, and also import other style files

.bottom-lists ul li {
    list-style: none;
    margin: 0;
    padding: 5px 10px;
}

.bottom-lists ul li a {
    color: #004283;
    text-decoration: none;
    font-size: 15px;
    line-height: 18px;
    font-weight: 500
}

.bottom-lists ul li:hover a {
    color: #f80000
}

.bottom-lists ul li:hover {
    box-shadow: 0 5px 25px 0 rgba(64, 64, 64, .3);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    transform: scale(1.01);
    cursor: pointer;
    background-color: #fff;
}

.bottom-lists ul li img {
    width: 20px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.error-block {
    display: flex !important;
    justify-content: flex-end !important;
    /* margin-top: 5px; */
}

@media (max-width:991px) {
    .mrgn-tab {
        margin-bottom: 30px;
    }
}

.navbar-nav>li>a {
    font-size: 18px!important;
}

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}